// Freight sans 400 / 600
// Freight display 700

$font-base: "freight-sans-pro", sans-serif;
$font-display: "freight-display-pro", sans-serif;

body {
	font-family: $font-base;
	font-weight: 400;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// TEXT SM
@mixin text-sm {
	font-size: 0.875rem;
}
.text-sm {
	@include text-sm;
}

// TEXT BASE
@mixin text-base {
	font-size: 1rem;
}
.text-base {
	@include text-base;
}

// TEXT LG
@mixin text-lg {
	font-size: 3.125rem;
	font-size: max(2.06rem, calc(1.81rem + 1.25vw));
}
.text-lg {
	@include text-lg;
}

// TEXT XL
@mixin text-xl {
	font-size: 6.25rem;
	font-size: clamp(3.44rem, 5.5vw, 2.78rem + 3.31vw);
	hyphens: auto;

	@media screen and (min-width: $sm) {
		hyphens: none;
	}
}
.text-xl {
	@include text-xl;
}

// TEXT 2XL
@mixin text-2xl {
	font-size: 13.75rem;
	font-size: max(4rem, 12.5vw);
	line-height: 1;
}
.text-2xl {
	@include text-2xl;
}
